@model EntityLayer.DTOs.SectorDTOs.SectorToAddOrUpdateDTO
@{
    Layout = null;
}
<html lang="en">

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/CompanyEmployee.MVC.styles.css" asp-append-version="true" />


<form asp-controller="Sector" asp-action="AddSector" method="post">

    <div class="form-group">

        <input type="text" asp-for="SectorId" class="form-control" id="name"  hidden >
    </div>
    <div class="form-group">
        <label>SectorName</label>
        <input type="text" asp-for="SectorName" class="form-control" id="name" placeholder="Enter SectorName...">
        <span asp-validation-for="SectorName" style="color:red"></span>
    </div>

    <div class="form-group">
        <label>DepartmentName</label>
        @Html.DropDownListFor(x=>x.DepartmentId, (IEnumerable<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
    </div>
   
    <button type="submit" class="btn btn-primary">Create</button>
</form>
</html>