@model EntityLayer.DTOs.UserDTOs.LoginViewModel
@{
    Layout = null;
}
<html>

<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Login</title>
</head>
<body>


<section class="vh-100">
<div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                 class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form asp-controller="Login" asp-action="Index" method="post" id="form">
                        <br />
                        <h4 style="color:red">Please login to your account</h4>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="name">Username</label>

                            <input type="text" asp-for="UserName" class="form-control" id="name"
                                   placeholder="Enter Username...">
                            <span asp-validation-for="UserName" style="color:red"></span>
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="form2Example22">Password</label>
                            <input type="password"  id="form2Example22" class="form-control"
                                   asp-for="Password" placeholder="Enter Password..." />
                            <span asp-validation-for="Password" style="color:red"></span>
                            @if (ViewBag.dgr != null)
                            {
                                <div style="color:red">  @ViewBag.dgr</div>
                            }
                        </div>

                        <div class="text-center pt-1 mb-5 pb-1">
                            <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">
                                Log
                                in
                            </button>

                        </div>

                        <div class="d-flex align-items-center justify-content-center pb-4">
                            <p class="mb-0 me-2">Don't have an account?</p>
                            <a asp-controller="Register" asp-action="Index" class="ml-2">Sign Up</a>
                        </div>




                    </form>


        </div>
    </div>
</div>
<div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
    <!-- Copyright -->
    <div class="text-white mb-3 mb-md-0">
        Copyright © 2020. All rights reserved.
    </div>
    <!-- Copyright -->
    <!-- Right -->
    <div>
        <a href="#!" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#!" class="text-white me-4">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="#!" class="text-white me-4">
            <i class="fab fa-google"></i>
        </a>
        <a href="#!" class="text-white">
            <i class="fab fa-linkedin-in"></i>
        </a>
    </div>
    <!-- Right -->
</div>
</section>
</body>
</html>