@model EntityLayer.DTOs.DepartmentDTOs.DepartmentToAddOrUpdateDTO
@{
    Layout = null;
}

<html lang="en">

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/CompanyEmployee.MVC.styles.css" asp-append-version="true" />
<form asp-controller="Department" asp-action="AddDepartment" method="post">

    <div class="form-group">

    <input type="text" asp-for="DepartmentId" class="form-control" id="name"  hidden>


    </div>
    <div class="form-group">
        <label>DepartmentName</label>
        <input type="text" asp-for="DepartmentName" class="form-control" id="name" placeholder="Enter DepartmentName...">
        <span asp-validation-for="DepartmentName" style="color:red"></span>

    </div>
    <div class="form-group">
        <label>DepartmentName</label>
        <input type="text" asp-for="DepartmentType" class="form-control" id="name" placeholder="Enter DepartmentName...">
        <span asp-validation-for="DepartmentType" style="color:red"></span>

    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>
</html>