@model List<EntityLayer.DTOs.DepartmentDTOs.DepartmentToListDTO>

@{
    Layout = "MyLayout";
}

<table class="table table-bordered">
    <thead class="table-active">
        <tr>
            <td>DepartmentId</td>
            <td>DepartmentName</td>
            <td>Delete</td>
            <td>Update</td>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>

                <td>@item.DepartmentId</td>
                <td>@item.DepartmentName</td>
                <td><a href="/Department/Delete/@item.DepartmentId" class="btn btn-danger", onclick="return confirm ('Do you want to delete ?')" >Delete</a></td>
            
                <td>@Html.ActionLink("Update","CreateDepartment","Department",new  { id = item.DepartmentId },new  {@class="btn btn-success" })</td>
                
            </tr>

        }
    </tbody>
</table>
<a href="/Department/CreateDepartment" class="btn btn-primary">Create</a>
